iptv_v3.json
{
  "name": "iptv v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f585206b-1e16-4e83-82e9-85fee5128583",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -700,
        340
      ],
      "id": "f6205b01-4c60-4e8b-a5db-675708ae7cec",
      "name": "Webhook",
      "webhookId": "f585206b-1e16-4e83-82e9-85fee5128583"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "203b74ee-8efc-481e-a53a-974cbf9dd7c3",
              "name": "instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "f8923b8a-b259-4590-9522-6cc35e31293a",
              "name": "numero",
              "value": "={{ $json.body.data.key.remoteJid.split('@').first() }}",
              "type": "string"
            },
            {
              "id": "85c2f664-f4bf-4a63-9ecd-54c808fde52d",
              "name": "id_mensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "82d720d5-8237-4057-a66c-94b1cb2615b5",
              "name": "nome",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "f4c8a0a3-a76c-4cb8-ada7-cc3afd3ffbff",
              "name": "mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "23a958b5-42e5-4faf-a0fc-67b5824e516f",
              "name": "tipo_mensagem",
              "value": "={{\n  (\n    !!$json.body.data.messageType && $json.body.data.messageType === 'conversation' ? 'text' :\n    $json.body.data.messageType === 'audioMessage' ? 'audio' :\n    $json.body.data.messageType === 'imageMessage' ? 'image' :\n    $json.body.data.messageType === 'stickerMessage' ? 'stciker' :\n    $json.body.data.messageType === 'videoMessage' ? 'video' :\n    $json.body.data.messageType === 'documentMessage' ? 'documento' :\n    'outro'\n  ).trim() // <--- O trim() já está aqui\n}}",
              "type": "string"
            },
            {
              "id": "542b383c-348a-4125-99dd-1725eaf37903",
              "name": "data_mensagem",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -480,
        340
      ],
      "id": "ca13870a-fdf6-4684-8944-8bbac1b6b78d",
      "name": "Dados"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "=text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3958008b-ddb2-4e46-82bb-63e424ecb783"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3799a006-d053-4eeb-90d2-87d07502f3ca",
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "579cacb5-3b05-4fc5-bbd6-ac745680098c",
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "=image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0ad521c6-f01d-4510-b0f1-518f0c19e7da",
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "stciker",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Stciker"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0dc9dcf8-7fc2-46a3-a0a4-e12a90870feb",
                    "leftValue": "={{ $json.tipo_mensagem }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -260,
        300
      ],
      "id": "bce718ce-6885-40e2-b155-ca4d2870492d",
      "name": "Gerenciamento de tipo de dados"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7a10671-ae03-4e0d-8f2e-b8b56579e4d5",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "34d40fb1-e5be-44b5-b1d6-c77e3d186614",
      "name": "Mensagem Texto"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de066f13-cc73-4966-af67-a3deab7e25b2",
              "name": "mensagem",
              "value": "={{ $json.tipo_mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        160
      ],
      "id": "74e51d9f-a7f5-44e4-9ac0-71b46b7e43ce",
      "name": "Mensagem Áudio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4e0021c-ee32-42f2-82d1-84112b904af7",
              "name": "instancia",
              "value": "={{ $json.instancia }}",
              "type": "string"
            },
            {
              "id": "c5b55b56-2da7-49be-b854-d5b04387e3cf",
              "name": "numero",
              "value": "={{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "279c53ea-e48f-47e5-aadc-81392da86da2",
              "name": "nome",
              "value": "={{ $json.nome }}",
              "type": "string"
            },
            {
              "id": "4ff3b6a4-8fce-47aa-b16b-3e699b69df68",
              "name": "tipo_mensagem",
              "value": "={{ $json.tipo_mensagem }}",
              "type": "string"
            },
            {
              "id": "2dbba215-37a5-482d-a3b5-eaa60aa56ba1",
              "name": "data_mensagem",
              "value": "={{ $json.data_mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        680
      ],
      "id": "ce4b587d-78b2-473b-8027-db667a208498",
      "name": "Mensagem Vídeo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1046eec8-f097-4142-b196-74b4c7ba48e5",
              "name": "tipo_mensagem",
              "value": "={{ $json.tipo_mensagem }}",
              "type": "string"
            },
            {
              "id": "ca9d35cb-1e69-4804-9e9a-650b4e1a88aa",
              "name": "id_mensagem",
              "value": "={{ $json.id_mensagem }}",
              "type": "string"
            },
            {
              "id": "bc2f3e07-c516-4064-8ef9-71345d61e32d",
              "name": "url_imagem",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.url }}",
              "type": "string"
            },
            {
              "id": "17d1d78d-db81-4537-9f1d-8932a85a9849",
              "name": "mimetype",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.mimetype }}",
              "type": "string"
            },
            {
              "id": "5163d6dd-384f-4a7e-94cf-0f65e09394e8",
              "name": "jpegThumbnail",
              "value": "={{ $('Webhook').item.json.body.data.message.imageMessage.jpegThumbnail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        340
      ],
      "id": "49763269-9c43-4ab1-97f2-6a9fba0c5d90",
      "name": "Mensagem Imagem"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        520
      ],
      "id": "c91f6b65-af9e-4614-ad63-01997950311a",
      "name": "Mensagem Figurinha"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensagem }}\n{{ $json.text }}\n{{ $json.choices[0].message.content }}",
        "options": {
          "systemMessage": "=Prompt para Assistente Virtual - Auto Bot IPTV.\n\n1. Sua Identidade e Objetivo:\nVocê é o Assistente Virtual oficial da Auto Bot IPTV. Seu único propósito é ajudar clientes e potenciais clientes fornecendo informações claras e precisas exclusivamente sobre os serviços, resoluções de problemas, planos e preços da Auto Bot IPTV.\n\n2. Tom de Voz e Comportamento Essencial:\nSEMPRE seja extremamente educado, prestativo e profissional em todas as suas interações. Use termos como \"obrigado(a)\", \"imagina\", etc.\nBUSQUE ser sempre direto ao ponto e evite escrever mensagens muito longas.\nREGRA CRÍTICA: NUNCA, JAMAIS, corrija erros de ortografia ou gramática do cliente. Ignore esses erros completamente e responda à intenção da pergunta da melhor forma possível. O foco é entender e ajudar, não corrigir.\n\n3. Escopo Estrito de Assuntos:\nFOCO TOTAL: Responda somente a perguntas relacionadas diretamente à Auto Bot IPTV. Isso inclui:\nPlanos disponíveis e número de telas.\nPreços dos planos mensais.\nPreço e o que são os \"créditos de servidor\".\nComo funciona o serviço da Auto Bot IPTV.\nComo assinar ou obter o serviço.\nComo resolver bugs ou problemas nos aplicativos de IPTV, aqui você pode usar como base a descrição de conversas onde o usuário mande imagens por exemplo, use o campo [content]:{{ $json.choices[0].message.content }}.\nREDIRECIONAMENTO OBRIGATÓRIO: Se o cliente perguntar sobre qualquer outro assunto (outras empresas, recomendações não relacionadas, política, clima, etc.), redirecione educadamente. Use frases como: \"Minha especialidade é ajudar com a Auto Bot IPTV. Posso esclarecer algo sobre nossos planos ou preços?\" ou \"Como assistente da Auto Bot IPTV, meu foco é em nossos serviços. Você tem alguma dúvida sobre eles?\".\n\n4. Informações Chave (Base de Conhecimento):\nVocê deve saber e fornecer as seguintes informações quando solicitado:\nPlano uma tela: R$ 35,00 (Trinta e cinco reais) por mês. Permite acesso em 1 dispositivo por vez.\nPlano duas telas: R$ 50,00 (Cinquenta reais) por mês. Permite acesso simultâneo em até 2 dispositivos.\nCréditos de Servidor: R$ 10,00 (Dez reais) cada. (Lembre-se de explicar para que servem, conforme definição interna da Auto Bot IPTV - o propósito precisa ser claro para você).\n\n5. Interação Inicial (Primeiro Contato):\nSEMPRE comece a conversa se apresentando em nome da Auto Bot IPTV e perguntando como pode ajudar. Use o nome do cliente se disponível: Se a variável [nome]:{{ $('Gerenciamento de tipo de dados').item.json.nome }} contiver o nome do cliente, use-o na saudação para personalizar.\nExemplo de Abertura (com nome): \"Olá, [nome]:{{ $('Gerenciamento de tipo de dados').item.json.nome }} ! Eu sou o assistente virtual da Auto Bot IPTV. Como posso te ajudar hoje?\"\nExemplo de Abertura (sem nome): \"Olá! Eu sou o assistente virtual da Auto Bot IPTV. Como posso te ajudar hoje?\"\n\n6. Contexto Temporal:\nEsteja ciente de que a data atual é [Data Atual]:{{ $now }} . Use esta informação apenas se for diretamente relevante para a pergunta do cliente (por exemplo, sobre a validade de uma oferta mencionada por ele).\nLembre-se: Sua missão é ser um representante útil e educado da Auto Bot IPTV, mantendo o foco estritamente nos serviços oferecidos e nunca corrigindo a escrita do cliente."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        940,
        340
      ],
      "id": "287f0342-79e0-424e-b3a7-721dfbac57ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        900,
        540
      ],
      "id": "2732fc18-10f2-4596-b3f7-9ad66139b20d",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "sRcufoLNssNejmk5",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gerenciamento de tipo de dados').item.json.numero }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1020,
        660
      ],
      "id": "601137a1-e19a-402f-b1da-d619bed20586",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "L7aLYyE9XMBJJoA0",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "remoteJid": "={{ $('Gerenciamento de tipo de dados').item.json.numero }}",
        "messageId": "={{ $('Gerenciamento de tipo de dados').item.json.id_mensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1260,
        340
      ],
      "id": "e7d1c788-8e05-4d96-bbd7-d026d4c2e102",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "remoteJid": "={{ $('Gerenciamento de tipo de dados').item.json.numero }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 3600,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1420,
        340
      ],
      "id": "f0c74f93-4f91-4fd2-b272-07b4caee4266",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "audio.mp3",
          "mimeType": "audio/mpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        360,
        160
      ],
      "id": "34a6cb4a-2536-4666-8308-706d6056041a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "messageId": "={{ $('Gerenciamento de tipo de dados').item.json.id_mensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        180,
        160
      ],
      "id": "048f2eb4-6ba0-4127-9f34-b28f04124cf2",
      "name": "Evolution API2",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multiplataform-data"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        160
      ],
      "id": "4e27c7b3-5898-4edf-9959-50c0e368cb8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "image.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        360,
        340
      ],
      "id": "e491688b-5702-46b8-b2e3-1901abed5214",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "messageId": "={{ $('Gerenciamento de tipo de dados').item.json.id_mensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        180,
        340
      ],
      "id": "7893c117-e0eb-4b32-9a9c-2b0360d2b97d",
      "name": "Evolution API3",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Descreva o que você vê nesta imagem:\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Convert to File1').item.binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 1,\n  \"max_completion_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false,\n  \"stop\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        340
      ],
      "id": "ddb3523e-0a4a-44c3-a625-625b03879851",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "get-media-base64",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "messageId": "={{ $('Gerenciamento de tipo de dados').item.json.id_mensagem }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        180,
        520
      ],
      "id": "7b2b05f9-1a31-4490-8e90-caff9bb12ca0",
      "name": "Evolution API4",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data.base64",
        "options": {
          "fileName": "image.jpeg",
          "mimeType": "image/jpeg"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        360,
        520
      ],
      "id": "218ad2a5-61b3-4fef-87c5-f20feeec8197",
      "name": "Convert to File2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Descreva o que você vê nesta imagem:\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $('Convert to File2').item.binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n  \"model\": \"meta-llama/llama-4-scout-17b-16e-instruct\",\n  \"temperature\": 1,\n  \"max_completion_tokens\": 1024,\n  \"top_p\": 1,\n  \"stream\": false,\n  \"stop\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        520
      ],
      "id": "a0c576e6-dde9-46d1-a470-020dcb2dbe38",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Gerenciamento de tipo de dados').item.json.instancia }}",
        "remoteJid": "={{ $('Gerenciamento de tipo de dados').item.json.numero }}",
        "messageText": "=Olá, o cliente: {{ $json.nome }} \nProprietário do número: {{ $json.numero }}\nEnviou um {{ $json.tipo_mensagem }} na data: {{ $json.data_mensagem }}",
        "options_message": {
          "delay": 3600,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        180,
        680
      ],
      "id": "1cd9863b-d966-4d1b-b60c-407f7c0bff10",
      "name": "Evolution API5",
      "credentials": {
        "evolutionApi": {
          "id": "bZQIsuFERFFbPDJ5",
          "name": "Evolution account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "Gerenciamento de tipo de dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciamento de tipo de dados": {
      "main": [
        [
          {
            "node": "Mensagem Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Imagem",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Figurinha",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mensagem Vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Texto": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Áudio": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API2": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Imagem": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API3": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Figurinha": {
      "main": [
        [
          {
            "node": "Evolution API4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API4": {
      "main": [
        [
          {
            "node": "Convert to File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem Vídeo": {
      "main": [
        [
          {
            "node": "Evolution API5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f829f8bd-8058-4bd8-b049-ce3813ce796e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e80d96b20a1f46169a6790bbd7586dec93f09bf578d2eaab5a87a74f7e18d9f"
  },
  "id": "jPAhN1SmzZjHLrdx",
  "tags": []
}